
.Body{padding: 20px;}
.Block{
    margin-block-start: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}
.divofclient{
    margin: 10%;
    *width: 40%;
}
.NavBar {
    position:fixed;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: -3px;
    width: 85%;
    background-color: #e9f9f45e;
}
.divOflogo{
    padding-left: 5%;
    width:50%;
    height: 35%;
}
.divOfMenu{
    padding-top: 5%;
    width:50%;
    height: 35%;
}
